
body {

    /* width: 1920px; */
    margin: 0 auto;
    font-family: 'Montserrat';
    background-image: url('../img/Layer\ 1\ 5.png');
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.nav {

    background: rgba(94, 93, 88, 0.6);

}

.menu {
    
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 0px 380px;
         
}

.menu-element {

    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 46px 10px 46px 20px;
}

.menu-element:hover {

    color: #18CFAB;;

}

.logo {

    position: absolute;
    margin: 15px 0px 0px 380px;
    display: flex;
    width: 58px;
    height: 67px;
   
}

.text {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.text-1 {

    font-weight: 700;
    font-size: 35px;
    margin-top: 264px;
    color:#18CFAB;
    
}

.text-1-color {

    color: #FFFFFF;

}

.text-2 {

    font-weight: 700;
    font-size: 78px;
    margin-top: 22px;
    color: #FFFFFF;

}

.text-3 {

    font-weight: 400;
    font-size: 34px;
    margin-top: 22px;
    color: #D4D4D4;

}

.btn {

    display: flex;
    justify-content: center;
    margin-top: 134px;

}

.btn-1 {

    width: 169px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-right: 13px;
    
}

.btn-2 {

    width: 169px;
    height: 63px;
    background: #00CBF6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-left: 13px;

}

.tables {

    display: flex;
    height: 377px;
    margin-top: 241px;

}

.table-1 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 482px;
    background: #1C2A33;

}

.table-2 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 482px;
    background: #18CFAB;

}

.table-3 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 482px;
    background: #1C2A33;
    
}

.table-4 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 482px;
    background: #18CFAB;

}

.tbl-img {
    
    display: block;

}

.tbl-text {

    margin-top: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

}

.wt {
    color: #FFFFFF;
}

.grn {

    color: #18CFAB; 

}

.service {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.service-title {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    padding-top: 83px;
    color: #4E4E4E;

}

.one {

    margin-top: 26px;

}

.two {

    margin-top: 1px;
    margin-left: 11px;

}

.box-container {

    padding-top: 69px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;

}
.service-box {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;

}

.service-box:hover {
    
    border: solid 1.5px #18CFAB;
    box-sizing: border-box;

}

.service-box-text {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
}

.service-box-content {

    padding-top: 28px;
    padding-bottom: 91px;
    display: flex;
    justify-content: center;
    background: #F8FCFE;

}

.service-box-p {

    margin-left: 15px;
    width: 952px;
    height: 136px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;

}

.purchase {

    display: flex;
    background-image: url('../img/Layer\ 21\ 1.png');
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.purchase-text-1 {

    padding-top: 127px;
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;

}

.purchase-text-2 {

    margin-top: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.purchase-btn {

    margin-top: 67px;
    margin-bottom: 127px;
    text-transform: uppercase;
    width: 168px;
    height: 63px;
    left: 0px;
    top: 5px;
    border: none;
    border-radius: 5px;
    background: #18CFAB;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;

}

.work {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;

}

.work-content {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9EDEF;

}

.work-menu {

    margin-top: 69px;
    border: 1px solid #DADADA;
    margin-bottom: 71px;

}

.work-menu-text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    padding: 15px 13px 15px 13px;

}



.work-menu:hover {

    border: solid 2px #18CFAB;;
    box-sizing: border-box;
    color: #18CFAB;
    
}

.all {

    width: 77px;
    display: flex;
    justify-content: center;
    
}